<h1>Listing pins</h1>

	<table class="table table-striped">
		<thead>
		  <tr>
			<th>Image</th>
		    <th>Description</th>
		    <th></th>
		    <th></th>
		    <th></th>
		  </tr>
		</thead>

		<tbody>
			<%= render @pins%>
		</tbody>
	</table>
<br />

<% if user_signed_in? %>
<%= link_to 'New Pin', new_pin_path %>
<% end %>
