<h1>Welcome to One Month Rails</h1>
<p>
	You've found the home of Ralph's One Month Rails
	<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
</p>
<p>
	<a href="#"> Sign Up Now!</a>
</p>

