<% if user_signed_in? %>
	<h2>You're Logged In!</h2>
	<h2>Currently nothing is here but something will be soon</h2>
	<hr>
	<h3><em>	Two roads diverged in a wood, and I— </em></h3>	
	<h3><em>	I took the one less traveled by,	</em></h3>	
	<h3><em>	And that has made all the difference. </em></h3>	
<% else %>
	<div class="hero-unit">
		<h1>Welcome to One Month Rails</h1>
		<p>
			You've found the home of Ralph's One Month Rails
			<%= link_to "One Month Rails", "http://onemonthrails.com" %> application
		</p>
		<p>
			<%= link_to "Sign Up Now!", new_user_registration_path , class: "btn btn-primary btn-large" %>
		</p>
	</div>
<% end %>

